<app-metamask-account
  [isMetamaskInstalled]="ethersProviderService.isMetamaskInstalled$ | async"
  [currentAccount]="ethersSignerService.currentAccount$ | async"
  (connect)="onConnect()"
></app-metamask-account>

<ng-container *ngIf="ethersSignerService.currentAccount$ | async">
  <ng-container *ngIf="(ethersProviderService.networkId$ | async) === GOERLI_CHAIN_ID; else wrongChainIdTplRef">
    <button mat-raised-button (click)="onApprove()">Approwe 1 WEI for {{ SPENDER_ADDRESS }} (me)</button>

    <div *ngIf="txHash" class="transaction-detail">
      Approve TX:

      <a [href]="'https://goerli.etherscan.io/tx/' + txHash" target="_blank" rel="noopener noreferrer">
        {{ txHash }}
      </a>
    </div>

    <div *ngIf="txNonce" class="transaction-detail">Approve TX nonce: {{ txNonce }}</div>

    <div *ngIf="txBlockNonce" class="transaction-detail">Approve TX block nonce: {{ txBlockNonce }}</div>
  </ng-container>

  <ng-template #wrongChainIdTplRef> Wrong chain id. Please, switch to Goerli testnet. </ng-template>
</ng-container>
